$blue: #BCD4E6;
$black: #000000;

div {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 32px;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-size: 16px;
    font-family: 'Rubik Mono One', sans-serif;
}

#root {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.component-sidebar {
    grid-column: 1 / 5;
    grid-row: 1;
}

.component-results {
    grid-column: 2 / 5;
    grid-row: 1;
}

.component-cart {
    grid-column: 5 / 5;
    grid-row: 1;
}

.component-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div.addRemoveButtons {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    button {
        background-color: $blue;
        border-radius: 11px;
        border-width: 0px;
        margin: 5px 5px 5px 0px;
        padding: 10px;
        font-family: 'Rubik Mono One';
        font-size: 10px;
    }

    button.add {
        grid-column: 1/2;
        grid-row: 1;
    }

    button.remove {
        grid-column: 2/2;
        grid-row: 1;
        background-color: $black;
        color: white;
    }
}

div.cart {
    width: 100%;
    background-color: $blue;
    border-radius: 11px;
    padding: 10px;

    .cart-total-price {
        font-weight: 500;
    }

    button.addRemove {
        background: $black;
        color: white;
        font-family: "Rubik";
        font-size: 20px;
        width: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-width: 0px;
        border-radius: 11px;
    }

    input.checkout {
        width: 100%;
        background-color: $black;
        color: white;
        border-width: 0px;
        font-family: 'Rubik Mono One';
        border-radius: 11px;
        padding: 10px;
        margin-top: 20px;
    }

    div.cart-total {
        padding-top: 10px;
    }

    div.cart-item {
        padding: 10px 0px;

        div.cart-item-pricing {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding-top: 5px;

            span.price {
                margin-top: auto;
                margin-bottom: auto;
                font-weight: 500;
            }

            span.add-button {
                grid-column: 4 / 5;
                grid-row: 1;
            }

            span.remove-button {
                grid-column: 5/5;
                grid-row: 1;
            }

        }
    }
}


div.filter-group {
    padding-top: 10px;
    padding-bottom: 10px;

    .filter-option {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
