@import 'Variables.scss';

div {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 32px;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-size: 16px;
    font-family: 'Rubik Mono One', sans-serif;
}

#root {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

a:link,
a:visited {
    text-decoration: none;
    color: $black;
}
